body {
    margin: 0;
    background: #111118;
}

canvas {
    position: relative;
    width: 100vh;
    height: 100vw;
    z-index: 0;
}

.trigger {
    display: block;
    height: 44px;
    width: 120px;
    position: absolute;
    bottom: 60px;
    left: calc(50vw - 60px);
    z-index: 100;
    background: black;
    border: 1px solid black;
    color: white;
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    font-size: 1rem;
    outline: none;
    opacity: 1;
    transition: 100ms;
    cursor: pointer;
}

.trigger:hover {
    border-color: white;
}

.trigger:active {
    bottom: 57px;
}
